{% extends "nav.html" %}
{% block content %}
{% load static %}

<div class="Request-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="abouttitle">
                    <h2>Admin Login</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Request">
    <div class="container">

        <div class="titlepage3">
            <h2>Administrator Login</h2>
        </div>

        <form method="post">
            {% csrf_token %}

            <input class="form-control" placeholder="Username" name="username" type="text" required>

            <input class="form-control" placeholder="Password" name="password" type="password" required>

            <button class="send-btn" type="submit">
                Login
            </button>

        </form>

    </div>
</div>

{% endblock %}