{% extends "nav.html" %}
{% block content %}
{% load static %}

<div class="Request-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="abouttitle">
                    <h2>Predict Gold Price</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Request">
    <div class="container">

        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="titlepage3">
                    <h2>Enter Market Values</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                <form method="POST" action="{% url 'data' %}">
                    {% csrf_token %}

                    <input class="form-control" placeholder="SPX" name="spx" type="text" required>
                    <br>

                    <input class="form-control" placeholder="USO" name="uso" type="text" required>
                    <br>

                    <input class="form-control" placeholder="SLV" name="slv" type="text" required>
                    <br>

                    <input class="form-control" placeholder="EUR/USD" name="eur" type="text" required>
                    <br>

                    <button class="send-btn" type="submit">
                        Predict
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}