{% extends "nav.html" %}
{% block content %}
{% load static %}

<div class="Request-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="abouttitle">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Request">
    <div class="container">

        <div class="titlepage3">
            <h2>Create Account</h2>
        </div>

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}

        <form method="post">
            {% csrf_token %}

            <input class="form-control" placeholder="First Name" name="fname" type="text" required>

            <input class="form-control" placeholder="Last Name" name="lname" type="text" required>

            <input class="form-control" placeholder="Username" name="uname" type="text" required>

            <input class="form-control" placeholder="Email" name="email" type="email" required>

            <input class="form-control" placeholder="Password" name="psw" type="password" required>

            <input class="form-control" placeholder="Confirm Password" name="psw1" type="password" required>

            <button class="send-btn" type="submit">
                Register
            </button>

        </form>

    </div>
</div>

{% endblock %}